* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    
    margin: 0;    
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    height: 8%;    
    background: linear-gradient(to right, #870000, #190a05);
    color: white;
    padding: 20px;
}

.header--image {
    height: 150%;
    margin-right: 20px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--description {
    font-size: 0.75rem;
    font-weight: 500;
}

.game {
    flex: 1;
    /*background: linear-gradient(to right, #FBCEB1, #E9967A); */
    background: repeating-linear-gradient(
    135deg,
    #fab57a 0px,
    #fab57a 20%,
    #ffa87b 20%,
    #ffa87b 40%
  );
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.game--clubCards {
    display: flex;
    flex-direction: row;    
    justify-content: center;     
    gap: 300px;    
    flex-wrap: wrap;
}

.card {   
    font-size: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;    
    align-items: center;
    position: relative;
    
}

.card--image {
    width: 100%;
    margin-bottom: 7px;
    border-radius: 7px;     
}

.card--data {
    text-align: center;
}

.card--data > p {    
    padding: 0;
    line-height: 12px;
    font-weight: 700;    
}

.card--name {
    margin-bottom: 0px;
}

.card--season {
    margin-bottom: 40px;
}

.card--buttons {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    width: 100%;   
}

.card--buttons > div {    
    border: 1px solid;
    height: 40px;    
    cursor: pointer;
    display: flex;    
    justify-content: center;    
    align-items: center;
    width: 40%;
    border-radius: 60px;     
    margin: 5% 10%;    
    font-weight: 700;    
}

.buttons--lower {
    background: linear-gradient(to right, #870000, #190a05);
    color: white;
}

.buttons--higher {
    background: linear-gradient(to right, #1dbb3a, #07fa14);
    color: black;

}

.game--gameOver {       
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;    
    justify-content: center;        
}

.gameOver--title {
    font-size: 400%;
    font-weight: 700;   
    background: linear-gradient(to right, #870000, #190a05);
    color: white;
    padding: 1%;
    border-radius: 10%; 
    
}

.gameOver--score {
    font-size: 200%;   
    background-image: linear-gradient(0deg,#f7971e, #ffd200);
    padding: 0.5%;
    border-radius: 10%;    
    

    
    
}

.gameOver--playAgain {
    background: linear-gradient(to right, #1dbb3a, #07fa14);
    color: black;
    border: 1px solid;
    height: 40px;    
    cursor: pointer;
    display: flex;    
    justify-content: center;    
    align-items: center;
    width: 20%;
    border-radius: 60px;     
    margin: 3%;
    font-weight: 700;
}



.game--gameOver > h4 {
    margin-bottom: 0.25%;
    font-weight: 400;
}

.game--scores {
    display: flex;
    align-items: center;
    height: 8%;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;   
}

.game--highscore {    
    margin-right: auto;
}



