* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;    
    margin: 0;    
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    height: 8vh;    
    background: linear-gradient(to right, #870000, #190a05);
    color: white;
    padding: 2vh;
}

.header--image {
    max-height: 150%;
    width: auto;
    margin-right: 3vw;
}

.header--title {
    font-size: calc(0.5em + 0.5vw);
    margin-right: auto;
}

.header--description {
    font-size: calc(0.25em + 0.5vw);
    font-weight: 500;
}

.game {
    flex: 1;
    /*background: linear-gradient(to right, #FBCEB1, #E9967A); */
    background: repeating-linear-gradient(
    135deg,
    #fab57a 0px,
    #fab57a 20%,
    #ffa87b 20%,
    #ffa87b 40%
  );
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;      
}

.game--mainButton {
    background: linear-gradient(to right, #1dbb3a, #07fa14);
    color: black;
    border: 1px solid;
    height: 4vh;    
    cursor: pointer;
    display: flex;    
    justify-content: center;    
    align-items: center;
    width: 20%;
    border-radius: 60px;     
    margin: 3vmin;
    font-weight: 700;
    font-size: 3vmin;
}

.gameMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;   
    justify-content: center;
}

.gameMenu--title {
    font-size: 9vmin;
    font-weight: 700; 
    color: black;
    padding: 1vmin;
    border-radius: 10%;     
}


.gameScores {
    display: flex;
    align-items: center;    
    height: 8vh;
    padding: 2vh;   
    bottom: 0px;
    width: 100%;
    font-size: calc(0.25em + 0.75vw);   
}

.gameScores--highscore {    
    margin-right: auto;
}

.gameClubCards {
    margin-top: 2vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;    
    justify-content: center;     
    column-gap: 20vw;        
    flex-wrap: wrap;    
}

.card {   
    font-size: calc(0.25em + 0.5vw);
    max-width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;    
    align-items: center;
    position: relative;    
}

.card--image {
    max-width: 25vw;
    max-height: 50vh;
    margin-bottom: 7px;
    border-radius: 7px;     
}

.card--data {
    text-align: center;
}

.card--data > p {    
    padding: 0;
    line-height: 1.2vh;
    font-weight: 700;    
}

.card--name {
    margin-bottom: 0;
}

.card--season {
    margin-bottom: 4vh;
}

.card--buttons {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    width: 100%;   
}

.card--buttons > div {    
    border: 1px solid;
    height: 4vh;    
    cursor: pointer;
    display: flex;    
    justify-content: center;    
    align-items: center;
    width: 40%;
    border-radius: 2vw;     
    margin: 5% 10%;    
    font-weight: 700;
    font-size: calc(0.25em + 0.75vw);   
}

.buttons--lower {
    background: linear-gradient(to right, #870000, #190a05);
    color: white;
}

.buttons--higher {
    background: linear-gradient(to right, #1dbb3a, #07fa14);
    color: black;
}

.gameOver {       
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;    
    justify-content: center;        
}

.gameOver--title {
    font-size: 12vmin;
    font-weight: 700;   
    background: linear-gradient(to right, #870000, #190a05);
    color: white;
    padding: 1vmin;
    border-radius: 10%;     
}

.gameOver--score {
    font-size: 6vmin;   
    background-image: linear-gradient(0deg,#f7971e, #ffd200);
    padding: 0.5vmin;
    border-radius: 10%;      
}

.gameOver--clubDetails {
    margin-bottom: 0;
    font-size: 2.5vmin;
    font-weight: 500;
}





