* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, #FBCEB1, #E9967A);
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(to right, #870000, #190a05);
    color: white;
    padding: 20px;
}

.header--image {
    height: 150%;
    margin-right: 20px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--description {
    font-size: 0.75rem;
    font-weight: 500;
}

.game--clubCards {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    margin-top: 20px;
    gap: 300px;
}

.card {   
    font-size: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;    
    align-items: center;
    position: relative;
    
}

.card--image {
    width: 100%;
    margin-bottom: 7px;
    border-radius: 7px;     
}

.card--data {
    text-align: center;
}

.card--data > p {    
    padding: 0;
    line-height: 12px;
    font-weight: 700;    
}

.card--name {
    margin-bottom: 0px;
}

.card--season {
    margin-bottom: 40px;
}

.card--buttons {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    width: 100%;   
}

.card--buttons > div {    
    border: 1px solid;
    height: 40px;    
    cursor: pointer;
    display: flex;    
    justify-content: center;    
    align-items: center;
    width: 40%;
    border-radius: 60px;     
    margin: 5% 10%;    
    font-weight: 700;    
}

.buttons--lower {
    background: linear-gradient(to right, #870000, #190a05);
    color: white;
}

.buttons--higher {
    background: linear-gradient(to right, #1dbb3a, #07fa14);
    color: black;

}

.game--scores {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.game--highscore {    
    margin-right: auto;
}

